<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%home%\Python39\python.exe"
                  arguments="%home%\site\wwwroot\startup.txt"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\python.log"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%home%\site\wwwroot"/>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%"/>
        <environmentVariable name="WEBSITE_HOSTNAME" value="%WEBSITE_HOSTNAME%"/>
        <environmentVariable name="WEBSITE_SITE_NAME" value="%WEBSITE_SITE_NAME%"/>
        <environmentVariable name="WEBSITE_ROLE_INSTANCE_ID" value="%WEBSITE_ROLE_INSTANCE_ID%"/>
        <environmentVariable name="WEBSITE_INSTANCE_ID" value="%WEBSITE_INSTANCE_ID%"/>
        <environmentVariable name="WEBSITE_COMPUTE_MODE" value="%WEBSITE_COMPUTE_MODE%"/>
        <environmentVariable name="WEBSITE_OS" value="%WEBSITE_OS%"/>
        <environmentVariable name="WEBSITE_NODE_DEFAULT_VERSION" value="%WEBSITE_NODE_DEFAULT_VERSION%"/>
        <environmentVariable name="WEBSITE_TIME_ZONE" value="%WEBSITE_TIME_ZONE%"/>
        <environmentVariable name="WEBSITE_SKU" value="%WEBSITE_SKU%"/>
        <environmentVariable name="WEBSITE_ISOLATION" value="%WEBSITE_ISOLATION%"/>
        <environmentVariable name="WEBSITE_USE_DIAGNOSTIC_SERVER" value="%WEBSITE_USE_DIAGNOSTIC_SERVER%"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 